<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPC List</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- External CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
</head>

{% include 'navbar.html' %}

<!-- Main Body -->
<body class="dark-mode">
    <div class="container mt-5">
        <div class="container mt-5">
            <!-- Title -->
            <h1 id="mpcs-title" style="cursor: pointer;">MPCs</h1>
        </div>
        <!-- Filter Section -->
        <div class="filter-section mt-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select id="filter-field-select" class="form-control">
                        <option value="id">Filter by ID</option>
                        <option value="config">Filter by Config</option>
                        <option value="master_node">Filter by Master Node</option>
                    </select>
                </div>
                <input type="text" id="mpc-filter-input" class="form-control" placeholder="Enter filter value">
                <div class="input-group-append">
                    <button id="apply-filter-button" class="btn btn-primary">Apply</button>
                    <button id="reset-filter-button" class="btn btn-secondary ml-2">Reset</button>
                </div>
                <!-- Dropdown Subcase Menu -->
                <div class="col-md-3">
                    <label for="subcase-dropdown" class="col-form-label">Subcase:</label>
                    <!-- Dropdown Menu -->
                    <select id="subcase-dropdown" class="form-control float-right" style="max-width: 100px;" title="Subcase">
                        <!-- The function fetchSubcases() should populate the options dynamically -->
                        fetchSubcases();
                    </select>
                </div>
            </div>
        </div>

        <!-- Table to display the MPCs -->
        <table class="table mt-3">
            <thead>
                <tr>
                    <th data-sort="id">ID <span id="id-sort-icon">▲▼</span></th>
                    <th>Config</th>
                    <th>Master</th>
                    <th>Slaves</th>
                    <th>D</th>
                    <th>L</th>
                    <th>MaxShear</th>
                    <th>MaxAx</th>
                    <th>Part</th>
                    <th>Fx</th>
                    <th>Fy</th>
                    <th>Fz</th>
                    <th>Fabs</th>
                    <th>Mabs</th>
                </tr>
            </thead>
            <tbody id="mpc-table-body">
                <!-- Rows will be inserted here -->
            </tbody>
        </table>

        <!-- Pagination Buttons -->
        <div class="pagination mt-3">
            <button id="prev-button" class="btn btn-secondary">Previous</button>
            <span id="pagination-info" class="mx-3">Page 1 of 1</span>
            <button id="next-button" class="btn btn-secondary">Next</button>
        </div>

    </div>
    <!-- External JavaScript -->
    <script src="/static/js/common.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/mpcPage.js"></script>
</body>

</html>