<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPC List</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>MPC List</h1>

        <!-- Button to fetch MPCs -->
        <button id="fetch-button" class="btn btn-primary mt-3">Fetch MPCs</button>
        <!-- Button to switch to Nodes view -->
        <a href="/nodes" class="btn btn-secondary float-right mt-3">Switch to Nodes View</a>
        
        <!-- Table to display the MPCs -->
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Master Node</th>
                    <th>Slave Nodes</th>
                    <th>Visualization Script</th> <!-- New column -->
                </tr>
            </thead>
            <tbody id="mpc-table-body">
                <!-- Rows will be inserted here -->
            </tbody>
        </table>

    </div>
    
    <!-- Link to the external JavaScript file -->
    <script src="/static/scripts.js"></script>
    
    <script>
        // Add event listener to the button
        document.getElementById('fetch-button').addEventListener('click', fetchMPCs);

        // Automatically fetch MPCs when the page loads
        window.onload = fetchMPCs;
    </script>
</body>

</html>
